<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="FLunaProgramacionNCapas" connectionString="Data Source=.;Initial Catalog=FLunaProgramacionNCapas;Persist Security Info=True;User ID=sa;Password=pass@word1" />
		<add name="FLunaProgramacionNCapasEntities" connectionString="metadata=res://*/FernandoLunaProgramacionNCapas.csdl|res://*/FernandoLunaProgramacionNCapas.ssdl|res://*/FernandoLunaProgramacionNCapas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FLunaProgramacionNCapas;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>